<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>CadImovel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label position="floating">Descricao</ion-label>
    <ion-input type="text" [(ngModel)]="imovel.descricao"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">Rua</ion-label>
    <ion-input type="text" [(ngModel)]="imovel.rua"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text" [(ngModel)]="imovel.bairro"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">CEP</ion-label>
        <ion-input type="text" [(ngModel)]="imovel.cep"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Cidade</ion-label>
          <ion-input type="text" [(ngModel)]="imovel.cidade"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="floating">UF</ion-label>
            <ion-input type="text" [(ngModel)]="imovel.uf"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Complemento</ion-label>
              <ion-input type="text" [(ngModel)]="imovel.complemento"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating">Cozinhas</ion-label>
                <ion-input type="text" [(ngModel)]="imovel.cozinhas"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="floating">Salas</ion-label>
                  <ion-input type="text" [(ngModel)]="imovel.salas"></ion-input>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label position="floating">Quartos</ion-label>
                    <ion-input type="text" [(ngModel)]="imovel.quartos"></ion-input>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label position="floating">Banheiros</ion-label>
                      <ion-input type="text" [(ngModel)]="imovel.banheiros"></ion-input>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label position="floating">Vagas</ion-label>
                        <ion-input type="text" [(ngModel)]="imovel.vagas"></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                          <ion-label position="floating">Area construida</ion-label>
                          <ion-input type="text" [(ngModel)]="imovel.area_construida"></ion-input>
                          </ion-item>
                          <ion-item lines="none">
                            <ion-label position="floating">Area terreno</ion-label>
                            <ion-input type="text" [(ngModel)]="imovel.area_terreno"></ion-input>
                            </ion-item>
                            <ion-item lines="none">
                              <ion-label position="floating">Tem garagem</ion-label>
                              <ion-input type="text" [(ngModel)]="imovel.tem_garagem"></ion-input>
                              </ion-item>

</ion-content>
