<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Imobiliária</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content class="ion-padding">
    <ion-item lines="none">
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.telefone"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">Rua</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.rua"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">Número</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.numero"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">Bairro</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.bairro"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">CEP</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.cep"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">Cidade</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.cidade"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">UF</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.uf"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">CNPJ</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.cnpj"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">IE</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.ie"></ion-input>
    </ion-item>
    <ion-item lines="none">
    <ion-label position="floating">Razão Social</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.razao_social"></ion-input>
    </ion-item>
</ion-content>
